{{- define "petsTable" -}}
+------+-------+---------+-----+----------------+------------+---------------+
| Name | Type  | Breed   | Age | Vaccinations   | Owner Name | Owner Address |
+------+-------+---------+-----+----------------+------------+---------------+
{{- range .pets }}
| {{ .name }} | {{ .type }} | {{ .breed }} | {{ .age }} | {{ range .vaccinations }}{{ . }} {{ end }} | {{ .owner.name }} | {{ .owner.address }} |
+------+-------+---------+-----+----------------+------------+---------------+
{{- end }}
{{- end }}
