# `yutc` ~~yet-unnamed-template-cli~~

[![GitHub version](https://badge.fury.io/gh/adam-huganir%2Fyutc.svg)](https://badge.fury.io/gh/adam-huganir%2Fyutc)

It's as good a name as any i guess. `/jʌːtsi/`

{{ .shortDescription }}

## Installation

{{ .downloadInstructions }}

## Usage

{{ .usageOptions }}

## Custom Template Functions

{{ range .customTemplateFunctions }}
{{ . }}

{{- end }}

## Examples

{{ range .examples }}
{{ . }}

{{- end }}

## Why?

{{ .whyBlock}}

Others will likely be more actively maintained, and are rad so check them out!
