{{/* Define a variable using the data from the map. */}}
{{ $data := . }}

{{/* Start of the YAML document */}}
---

{{/* Iterate over the map and create a YAML entry for each key-value pair. */}}
{{ range $key, $value := $data }}
{{ $key }}: {{ toYaml $value | trimSuffix "\n" }}
{{ end }}

{{/* Use the default function from Sprig to provide a default value if a value is not present. */}}
default: {{ default "default value" .missingKey }}

{{/* End of the YAML document */}}
