just testing things
{{ toYaml (dict "indentOptions" (dict 1 2) "anotherMap" (dict "a")) }}
{{ yamlOptions (dict "indent" .indent) }}
{{ toYaml (dict "indentOptions" (dict 1 2) "anotherMap" (dict "a")) }}
