name: Test

on:
  workflow_call:
  pull_request:
    branches:
      - main
  push:

jobs:
  go-test:
    name: Go Test
    strategy:
      matrix:
        go-version: ['1.25']
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ubuntu-latest
    if: github.ref_name != 'main' || true || github.event_name == 'workflow_call'
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.25'
      - uses: leafo/gh-actions-lua@v12
      - name: Run tests
        run: |-
          go test -v ./...

  golangci-lint:
    name: Lint
    runs-on: ubuntu-latest
    if: github.ref_name != 'main' || true || github.event_name == 'workflow_call'
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.25'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
