pets:
    - age: 5
      breed: Labrador
      name: Fido
      owner:
        address: 123 Main St
        name: John Doe
      type: Dog
      vaccinations:
        - rabies
        - distemper
thisWillMerge:
    value23: not 23
    value24: 24
